body{
    background-color:slategray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #555555;
    margin: 0;
    /* inline-size: 500px; */
    line-height:1.6em;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header{
    background-color:cadetblue;
    color: beige;
    margin-top: 0;
    margin-bottom:0;
    padding: 30px;
    text-align:center; 


}
#navbar{
    background-color: #333333;
    color: gainsboro;
    padding: 10px;
    float:center;
    position: fixed;
    width:79%;
}
#navbar ul{
    list-style: none;
    padding: 0;
}
#navbar li{
    display: inline;
}

#navbar a{
    color: ghostwhite;
    text-decoration:none;
    font-size: 20px;
    padding-right: 30px;
}
#navbar a:hover{
    color: black;
}
#welcome{
    background-image: url(https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/Vd3bj2jPe/silhouette-of-man-on-surfing-board-at-sea-at-sunset-sunset-sea-sun-reflection-at-sea-sunset-sky-over-sea-sea-sunset-with-calm-water-clouds-sky-over-sea-at-sunset-tranquil-water-of-sunset-sea_sgkxcapbl_thumbnail-1080_01.png);
    background-position: bottom left;
    min-height:400px;
    min-width: 300px;
    margin-bottom: 30px;
    text-align:center;
    color:  gainsboro;
    font-size: 40px;
    line-height: 1.6em;
    padding-top: 80px;
    margin-top: 0;
    font: weight 100px;;
}
#img1{
    float: left;
    box-sizing: border-box;
    width:50%;
    height: 600px;
}
#img2{
    float: right;
    width: 50%;
    height: 600px;
    box-sizing: border-box;
}
#images{
    margin-top:none;
    padding-bottom:none;
    padding-top: 0;

}
#section-3{
    float: right;
    box-sizing: border-box;
    width:60%;
    text-align: left;
    color: lavenderblush;
    padding:0 200px;
    font-size: 18px;    
    
}
#menu{
    float: left;;
    box-sizing: border-box;
    box-shadow: slategrey;
    width:40%;
    color: lavenderblush;
    padding-bottom: 100px;
    padding-left: 200px;
    font-size: 20px;
    line-height:1.8em;
}  
#menu a{
    color: lavenderblush;
    text-decoration:none;
}
#menu a:hover{
    color: black;
}
#Contact{
font-size: 18px;
color: mintcream;
box-sizing: border-box;
}
#Contact a{
color:mintcream;
text-decoration:none;
}
#Contact a:hover{
    color: black;
}
#footer{
    font-size: 18px;
}
#tips{
    color: blanchedalmond;
}
